.password-container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  padding: 32px 0;
    & > label > p{
      margin-bottom: 8px;
    }
}
.password-input {
  height: 32px;
  width: 100%;
}
.password-strength-container {
  display: flex;
  gap: 8px;
  height: 32px;
  & > span {
    background-color: #efefef;
  }

  &.strong > span {
    background-color: #56da56;
  }

  &.medium {
    span:first-child, span:nth-child(2) {
      background-color: #ffff84;
    }
  }
  &.weak {
    span:first-child {
      background-color: #f13030;
    }
  }
  &.invalid > span {
    background-color: red;
  }
}
.strength-item{
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 4px;
}
