<div class="password-container">
  <label>
    <p>Password: {{password.value}}</p>
    <input class="password-input"
           type="password"
           [formControl]="password"
    >
  </label>
  <div class="password-strength-container"
       [ngClass]="{
        'strong': password.valid,
        'medium': password.hasError('mediumPassword') && !password.hasError('minlength') && !password.hasError('required'),
        'weak': password.hasError('weakPassword') && !password.hasError('minlength') && !password.hasError('required'),
        'invalid': password.hasError('minlength'),
     }"
  >
    <span class="strength-item"></span>
    <span class="strength-item"></span>
    <span class="strength-item"></span>
  </div>
</div>
