<div class="password-container">
  <label>
    <p>Password: {{value}}</p>
    <input class="password-input"
           type="password"
           [value]="value"
           (input)="onInput($event)"
    >
  </label>
  <div class="password-strength-container"
       [ngClass]="{
        'strong': control?.valid,
        'medium': control?.hasError('mediumPassword') && !control?.hasError('minlength') && !control?.hasError('required'),
        'weak': control?.hasError('weakPassword') && !control?.hasError('minlength') && !control?.hasError('required'),
        'invalid': control?.hasError('minlength'),
     }"
  >
    <span class="strength-item"></span>
    <span class="strength-item"></span>
    <span class="strength-item"></span>
  </div>
</div>
